<div class="container">
    <img src="{{ site.github.url }}/assets/images/ustresim7.png" class="img-responsive" alt="">
    <!-- Static navbar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home"></span></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <strong>
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.github.url }}">Ana Sayfa</a></li>
                    <li><a href="{{ site.github.url }}/turnuvalar"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>  Turnuvalar</a></li>
                    <li><a href="{{ site.github.url }}/oyunlar"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  Oyunlar</a></li>
                    <li><a href="{{ site.github.url }}/dersler"><span class="glyphicon glyphicon-book" aria-hidden="true"></span>  Dersler</a></li>
                    <li class="dropdown">
                        <a href="{{ site.github.url }}/satrancveyasam" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>  Satranç ve Yaşam <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ site.github.url }}/sss"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>  S.S.S</a></li>
                    <li><a href="{{ site.github.url }}/iletisim"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span>  İletişim</a></li>
                </ul>
                </strong>
            </div>
            <!--/.nav-collapse -->
        </div>
        <!--/.container-fluid -->
    </nav>
