   <section class="page-header">
      <a style="color:#fff" href="/marmarissatranc"><h1 class="project-name">{{ site.title | default: site.github.repository_name }}</h1></a>
      <h2 class="project-tagline">{{ site.description | default: site.github.project_tagline }}</h2>
      <a class="btn" href="{{ site.url }}/{{ site.github.repository_name }}/turnuvalar">Turnuvalar</a>
      <a class="btn" href="{{ site.url }}/{{ site.github.repository_name }}/dersler">Dersler</a>
      <a class="btn" href="{{ site.url }}/{{ site.github.repository_name }}/oyna">Satranç Oyna</a>
    </section>
