{{ content }}

<div class="row">
    <div class="col-md-12">
        <p>Turnuva fotoğraflarına <a href="https://www.facebook.com/profile.php?id=100005340018875" target="_blank">Facebook sayfamızdan</a> ulaşabilirsiniz.</p>

        <a href="https://www.facebook.com/profile.php?id=100005340018875" target="_blank">
            <img src="{{ site.github.url }}/assets/images/FB-f-Logo__blue_50.png" alt="" class="img-responsive">
        </a>
    </div>
</div>


{% assign imagenames = '/assets/images/' | append: dataname %} {% for image in site.static_files %} {% if image.path contains imagenames %}
<div class="row">
    <div class="col-md-12">
        <img src="{{ site.github.url }}{{ image.path }}" class="img-responsive" alt="image" style="margin-top:10px"/>
    </div>
</div>
{% endif %} {% endfor %}
