 {{ content }}

{% for post in site.posts %}
{% if post.turnuva == dataname %}
<div class="row">

  <div class="col-md-12">
    <h4>{{ post.title }}</h4>
    <p class="text-muted text-left">
    {% assign dy = post.date | date: "%A" %}
    {{ site.data.tr.[dy] }},
    {{ post.date | date: "%-d" }}
    {% assign m = post.date | date: "%-m" | minus: 1 %}
    {{ site.data.tr.months[m] }}
    {{ post.date | date: "%Y" }}
    </p>
  </div>

</div>

<div class="row">

  <div class="col-md-9">
  <p>{{ post.content }}</p>
  </div>

  <div class="col-md-3">
    {% include image_select.html %}
    {% if imagepath != '' %}
      {% assign post-image = imagepath %}
    {% else %}
      {% assign post-image = site.data.constants.post-default-image %}
    {% endif %}
    <img src="{{ site.github.url }}/assets/images/{{ post-image }}" alt="" class="img-responsive img-thumbnail">
  </div>

</div>
        <hr>
{% endif %}
{% endfor %}
