<h4> Oyun Seçiniz </h4>

<div style="margin-top:20px"></div>
<ul class="nav nav-pills" role="tablist">
    {% assign kategoriler = pagedata.kategoriler | split: "," %}
    {% assign kategori-adlari = pagedata.kategori-adlari | split: "," %}
    {% for kategori in kategoriler %}
    <li role="presentation" class="{% if forloop.index0 == 0 %}active {% endif %}"><a href="#oyunlar-{{ kategori | strip }}" aria-controls="oyunlar-{{ kategori | strip }}" role="tab" data-toggle="tab">{{ kategori-adlari[forloop.index0] | strip }}</a></li>
    {% endfor %}
</ul>

<div style="margin-top:20px"></div>
<div class="tab-content">

    {% for kategori in kategoriler %}
    <div role="tabpanel" class="tab-pane {% if forloop.index0 == 0 %}active {% endif %}" id="oyunlar-{{ kategori  | strip }}">
    <select id="oyunsec-{{ kategori  | strip }}" class="form-control" style="margin-bottom:20px"></select>
</div>
    {% endfor %}

</div>

<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div id="oyun"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-2 col-md-offset-2">
        <div id="board" style="width:450px"></div>
    </div>
</div>

{{ content }}
