<!DOCTYPE html>
<html lang="tr-TR">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="row">
        <div class="col-md-9">
            <div id="myCarousel" class="carousel slide" style="box-shadow: 0px 0px 5px #333" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for resim in site.data.anasayfa.resimler %}
                    <div class="item {% if resim.sirano == 0 %}active {% endif %}">
                        <img src="{{ resim.resimlink }}">
                        <div class="carousel-caption">
                            <h4><a href="{{ resim.sayfalink }}">{{ resim.resimbaslik }}</a></h4>
                            <p>{{ resim.resimyazi }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End Carousel Inner -->

                <ul class="list-group col-sm-4" style="padding-right:0px;">

                    {% for resim in site.data.anasayfa.resimler %}
                    <li data-target="#myCarousel" data-slide-to="{{ resim.sirano }}" class="list-group-item {% if resim.sirano == 0 %}active {% endif %}">
                        <p>{{ resim.yazi }}</p>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Controls -->
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
            <!-- End Carousel -->


        </div>
        <div class="col-md-3">
            <div class="thumbnail">
                <img src="/assets/images/fca.jpg" alt="">
                <div class="caption">
                    <h4>Thumbnail label</h4>
                    <p>...</p>
                    <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-4">
            <script src="https://en.lichess.org/training/embed?theme=auto&bg=auto"></script>
        </div>
    </div>

    {{ content }} {% include footer.html %} {% include google_analytics.html %}
</body>

</html>
