<!DOCTYPE html>
<html lang="tr">

{% include head.html %}

<body>

    {% include header.html %}

    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-9">
            <div id="myCarousel" class="carousel slide" style="box-shadow: 0px 0px 5px #999" data-ride="carousel">

                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for post in site.posts limit:5 %}
                    <div class="item {% if forloop.index0 == 0 %}active {% endif %}">
                        <img src="{{ site.github.url }}/assets/images/53.jpg">
                        <div class="carousel-caption">
                            <h4><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h4>
                            <p>{{ post.content | strip_html | truncatewords: 15 }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- End Carousel Inner -->

                <ul class="list-group col-sm-4" style="padding-right:0px;">

                    {% for post in site.posts limit:5 %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.index0 }}" class="list-group-item {% if forloop.index0 == 0 %}active {% endif %}" style="line-height:1.25;padding:3px 10px">
                        <strong><small>{{ post.title }}</small></strong>
                        <p>
                            <small>{% assign dy = post.date | date: "%A" %} {{ site.data.tr.[dy] }}, {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" | minus: 1 %} {{ site.data.tr.months[m] }} {{ post.date | date: "%Y" }} </small>
                        </p>
                    </li>
                    {% endfor %}
                </ul>

                <!-- Controls -->
                <div class="carousel-controls">
                    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>

            </div>
            <!-- End Carousel -->

        </div>

        <div class="col-md-3 col-sm-4 col-xs-3">
            <div class="thumbnail">
                <img src="{{ site.github.url }}/assets/images/logo300.png" alt="" class="img-responsive">
                <div class="caption">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-9">

            {% assign poffset = paginator.page | times:5 %} {% assign ptotal = paginator.total_pages | minus:1 %} {% for post in site.posts limit:5 offset:poffset %}
            <div class="row">

                <div class="col-xs-4 col-sm-3 col-md-3">
                    <a href="{{ post.url | prepend: site.github.url }}"><img src="{{ site.github.url }}/assets/images/{{ post.image }}" alt="" class="img-responsive img-thumbnail" style="margin-top:15px"></a>
                </div>

                <div class="col-xs-8 col-sm-9 col-md-9">

                    <p class="text-muted text-right">
                        {% assign dy = post.date | date: "%A" %} {{ site.data.tr.[dy] }}, {{ post.date | date: "%-d" }} {% assign m = post.date | date: "%-m" | minus: 1 %} {{ site.data.tr.months[m] }} {{ post.date | date: "%Y" }}
                    </p><h4><a href="{{ post.url | prepend: site.github.url }}">{{ post.title }}</a></h4>
                    <p>
                        {{ post.content | strip_html | truncatewords: 50 }}
                        <a href="{{ post.url | prepend: site.github.url }}"> devamı</a>
                    </p>
                </div>
            </div>
            <hr> {% endfor %}

        </div>
        <div class="col-md-3">
            <script src="https://en.lichess.org/training/embed?theme=auto&bg=auto"></script>
            <hr>
            <script src="https://en.lichess.org/tv/embed?theme=auto&bg=auto"></script>
            <hr>
            <div class="thumbnail">
                <a href="https://lisans.tsf.org.tr/online/" target="_blank">
                    <img src="{{ site.github.url }}/assets/images/banner_lisans.jpg" alt="" class="img-responsive">
                </a>
                <a href="http://ukd.tsf.org.tr/" target="_blank">
                    <img src="{{ site.github.url }}/assets/images/banner_ukd.jpg" alt="" class="img-responsive">
                </a>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <h3 class="panel-title">Destekçilerimiz</h3>
                </div>
                <div class="panel-body">
                    <a href="http://www.mimartmimarlik.net/" target="_blank">
                        <img src="{{ site.github.url }}/assets/images/mimart.jpg" alt="" class="img-responsive center-block" style="margin-bottom:20px">
                    </a>
                    <a href="http://marmaris.indigosatranc.com/anasayfa/selimiye_yazlik" target="_blank">
                        <img src="{{ site.github.url }}/assets/images/selimiyelogoweb.jpg" alt="" class="img-responsive center-block" style="margin-bottom:20px">
                    </a>
                    <a href="http://www.marti.com.tr/" target="_blank">
                        <img src="{{ site.github.url }}/assets/images/marti.jpg" alt="" class="img-responsive center-block">
                    </a>

                </div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col-md-9 text-center" style="font-size:16px">
            {% if ptotal > 1 %}
            <div class="pagination">
                {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Geri</a> {% else %}
                <span>&laquo; Geri</span> {% endif %} {% for page in (1..ptotal) %} {% if page == paginator.page %}
                <em>{{ page }}</em> {% elsif page == 1 %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a> {% else %}
                <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a> {% endif %} {% endfor %} {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">İleri &raquo;</a> {% else %}
                <span>İleri &raquo;</span> {% endif %}
            </div>
            {% endif %}
        </div>

        <div class="col-md-4">

        </div>
    </div>

    {% include footer.html %}
    <script src="{{ site.github.url }}/assets/js/home.js"></script>

    {% include google_analytics.html %}
</body>

</html>
