<!DOCTYPE html>
<html lang="tr">
{% include head.html %}

<body>

{% include header.html %}
{%- assign post = page -%}

{% assign post_filename = post.path | replace_first: '_posts/', '' | replace_first: '.md', '' %}
{% assign post_filename_s = post_filename | split: '-' %}

{%- if post_filename_s[3] contains 'TRV' -%}
    {%- for myfile in site.static_files -%}

      {%- if myfile.path contains 'data/turnuvalar/' and  myfile.path contains post_filename_s[3] -%}
        {%- assign dataname = myfile.basename -%}
      {%- endif -%}

    {%- endfor -%}
{%- endif -%}

    <div class="row">

        <div class="col-md-9">
          {% include post_inner.html %}
        </div>

        <div class="col-md-3">
        <div style="margin-bottom:15px"> </div>
            {%- if dataname -%}
            <div class="panel panel-default">
              <div class="panel-body">
                <p class="text-center"><a class="btn btn-primary btn-lg" href="{{ site.github.url }}/turnuvalar/{{dataname}}">Turnuva Sayfası</a> </p>
              </div>
            </div>
            {%- endif -%}
            {% include sponsor.html %}
        </div>

    </div>
    {% include footer.html %} {% include google_analytics.html %}
</body>

</html>
