<!DOCTYPE html>
<html lang="tr-TR">

{% include head.html %}

<body>

    {% include header.html %}

    <ul class="nav nav-pills">
        <li role="presentation" class="active"><a href="#turnuva" aria-controls="turnuva" role="tab" data-toggle="tab">Turnuva</a></li>
        <li role="presentation"><a href="#basvuru" aria-controls="basvuru" role="tab" data-toggle="tab">Başvuru</a></li>
        <li role="presentation"><a href="#oyuncular" aria-controls="oyuncular" role="tab" data-toggle="tab">Oyuncular</a></li>
        <li role="presentation"><a href="#sonuclar" aria-controls="sonuclar" role="tab" data-toggle="tab">Sonuçlar</a></li>
        <li role="presentation"><a href="#fotolar" aria-controls="fotolar" role="tab" data-toggle="tab">Fotoğraflar</a></li>
    </ul>

<!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="turnuva">Turnuva</div>
    <div role="tabpanel" class="tab-pane" id="basvuru">Başvuru</div>
    <div role="tabpanel" class="tab-pane" id="oyuncular">Oyuncular</div>
    <div role="tabpanel" class="tab-pane" id="sonuclar">Sonuçlar</div>
    <div role="tabpanel" class="tab-pane" id="fotolar">Fotoğraflar</div>
  </div>

    {{ content }} {% include footer.html %} {% include google_analytics.html %}
</body>

</html>
