<!DOCTYPE html>
<html lang="tr">

{%- assign filename = page.path | split: '/' | last | split: '.' | first -%}
{%- assign datapath = page.path | split: '/' -%}
{%- assign dataname = datapath[1] -%}
{%- assign dataname_s = dataname | split: '-' -%}
{%- assign turnuva_kodu = dataname_s[3] %}
{%- assign pagedata = site.data.turnuvalar[dataname] -%}
{%- assign kategoriler = pagedata.kategoriler | split: "," -%}
{%- assign kategori-adlari = pagedata.kategori-adlari | split: "," -%}

{%- include head.html -%}
{%- if filename == 'oyunlar' -%}
  <link rel="stylesheet" href="{{ site.github.url }}/assets/css/pgnvjs.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{%- endif -%}

<body>
    {% include header.html %}
    <div class="row">
        <div class="col-md-3">
          <div class="panel panel-default">
              <div class="panel-body" style="padding: 0px;">

                  <ul class="nav nav-pills nav-stacked" id="myTabs">
                      <li role="presentation" class="{% if filename == 'index' %}active {% endif %}"><a href="{{ site.github.url }}/turnuvalar/{{ dataname }}"><span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>  Turnuva</a></li>
                      <li role="presentation" class="{% if filename == 'yonerge' %}active {% endif %}"><a href="yonerge"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>  Yönerge</a></li>
                      <li role="presentation" class="{% if filename == 'basvuru' %}active {% endif %}"><a href="basvuru"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span>  Başvuru</a></li>
                      <li role="presentation" class="{% if filename == 'sonuclar' %}active {% endif %}"><a href="sonuclar"><span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Sonuçlar</a></li>
                      <li role="presentation" class="{% if filename == 'oyunlar' %}active {% endif %}"><a href="oyunlar"><span class="glyphicon glyphicon-knight" aria-hidden="true"></span>  Oyunlar</a></li>
                      <li role="presentation" class="{% if filename == 'fotograflar' %}active {% endif %}"><a href="fotograflar"><span class="glyphicon glyphicon-camera" aria-hidden="true"></span>  Fotoğraflar</a></li>
                  </ul>
              </div>
          </div>
            {% include sponsor.html %}
        </div>

        <div class="col-md-9">

        <h4> {{ pagedata.adi }}</h4>
        <hr />

        {%- if filename == 'index' -%}
          {% include turnuva/index.html %}
        {%- endif -%}

        {%- if filename == 'yonerge' -%}
          {% include turnuva/yonerge.html %}
        {%- endif -%}

        {%- if filename == 'basvuru' -%}
          {% include turnuva/basvuru.html %}
        {%- endif -%}

        {%- if filename == 'sonuclar' -%}
          {% include turnuva/sonuclar.html %}
        {%- endif -%}

        {%- if filename == 'oyunlar' -%}
          {% include turnuva/oyunlar.html %}
        {%- endif -%}

        {%- if filename == 'fotograflar' -%}
          {% include turnuva/fotograflar.html %}
        {%- endif -%}

        </div>
    </div>

    {%- include footer.html -%}

    {%- if filename == 'oyunlar' -%}
    <script src="{{ site.github.url }}/assets/js/pgnvjs.js" type="text/javascript"></script>
    {%- endif %}

    {%- if filename == 'oyunlar' or filename == 'sonuclar' -%}
        <script src="{{ site.github.url }}/assets/js/turnuva.js"></script>

        {%- unless pagedata.pgn == blank -%}
                <script type='text/javascript'>
                    loadGames("{{ pagedata.kategoriler }}", "{{ dataname }}");
                </script>
        {%- endunless -%}

    {%- endif -%}

    {%- include google_analytics.html -%}
</body>

</html>
